
<div class="row">

    <img src="images/whamsauce.gif" />

</div>

<div class="row">

    <h2>Why does Whamsauce exist?</h2>

    <p>
        Yes, the world needs another JavaScript framework. As usual, I feel like a lot of the existing solutions out
        there are just to heavy. So in bringing the <em>WHAM!</em> back into your JavaScript we have the following
        goals:
    </p>
    <ul>
        <li>Convention over configuration</li>
        <li>Single page application</li>
        <li>Completely client side</li>
        <li>Minimal dependencies</li>
        <li>Microframework fast</li>
        <li>Simple to get started, easy to understand</li>
        <li>Focus on the essentials</li>
    </ul>

    <h2>What dependencies does Whamsauce have?</h2>

    <ul>
        <li>
            <strong>HandlebarsJS</strong> = Core templating engine. This is required.
        </li>
        <li>
            <strong>Cash</strong> = Recommended JavaScript framework as lighter version of JQuery.
        </li>
        <li>
            <strong>Skeleton CSS</strong> = Recommended CSS framework. Optional.
        </li>
    </ul>

    <h2>Sub-Components</h2>

    <p>
        You can use nested components with Handlebars partials. So that you can encapsulate reusable controls
        and other repeated pieces of content.
    </p>
    {{>button text="Example Button"}}



</div>